@import "../../../MediaQuery/Mixin.scss";

.order-container {
  padding: 20px;
  background:linear-gradient(150deg,floralwhite,rgb(255, 206, 212), floralwhite);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wavy-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; // Added margin for spacing
  }

  .wavy-heading {
    background: linear-gradient(270deg, #800026, #B76E79, #800026);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 5s ease-in-out infinite;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-decoration-color: #004D2E;
    text-align: center;
    font-family: "Croissant One", serif;
    font-size: 2rem; // Increased font size for prominence
  }

  @keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .order-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    line-height: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px 
    rgba(134, 5, 1, 0.347) ;
    background-color: #fff; // Added background color for better contrast
    transition: box-shadow 0.3s ease; // Smooth transition for hover effect

    @include mobile_S{
      width: 250px;
      display: flex;
      flex-direction: column;
    }
    @include mobile_M{
      width: 300px;
      display: flex;
      flex-direction: column;
    }
    @include mobile_L{
      width: 500px;
      display: flex;
      flex-direction: row;
    }
    @include tablet{
      width: 600px;
      display: flex;
      flex-direction: row;
    }

    &:hover {
      box-shadow: 0 8px 16px rgba(87, 3, 0, 0.347); // Enhanced shadow on hover
    }

    .order-item-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-right: 1px solid #ddd;
    }

    .order-item-details {
      padding: 15px;
      flex: 1;
      text-align: center;
      font-family: "Josefin Sans", sans-serif;

      p {
        margin: 0;
        font-size: 0.875rem;
        color: #333; // Improved color contrast
      }

      h3 {
        margin: 5px 0;
        font-size: 1.25rem;
        color: #800026;
      }
    }
  }

  p {
    text-align: center;
    font-size: 1.125rem;
    color: #666;
  }
}

@media (max-width: 768px) {
  .order-item {
    flex-direction: column;

    .order-item-img {
      width: 100%;
      height: auto;
      border-right: none;
    }

    .order-item-details {
      padding: 10px;
    }
  }
}
