@import "../../MediaQuery/Mixin.scss";

.store{
    width: 100%;
    height: max-content;
    background:linear-gradient(150deg,floralwhite,rgb(255, 206, 212), floralwhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    .location{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    .wavy-heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      
      .wavy-heading {
        background: linear-gradient(270deg, #800026, #B76E79, #800026);  
        background-size: 300% 300%; 
        background-clip: text; 
        -webkit-text-fill-color: transparent; 
        animation: wave 5s ease-in-out infinite;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-underline-offset: 15px;
        text-decoration-thickness: 2px;
        text-decoration-color: #004D2E;
        text-align: center;
        font-family: "Croissant One", serif;

        h1 {
            color: #800026;
            font-family: "Croissant One", serif;
            width: 100%;
          
          }
      }
      
      // Animation keyframes
      @keyframes wave {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    h3{
        color: purple;
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        line-height: 25px;
    }

    .map{
      @include mobile{
      width: 250px;
      height: 200px;
      }
      @include tablet{
        width: 450px;
        height: 300px;
        }
    }
    }
}