@import "~react-image-gallery/styles/scss/image-gallery.scss";
$ig-floralwhite: floralwhite !default;
$ig-maroon: maroon !default;
$ig-teal: teal !default;
$ig-shadow: 0 0.3px 0.3px lighten($ig-teal, 50%);
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


.single-product-page {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: flex-start;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Salsa', cursive;
    
    .product-image {
      width: 350px;
      height: 350px;
     
      .image-gallery-icon {
     
        filter: drop-shadow($ig-shadow);
      
        
      }
      .image-gallery-fullscreen-button,
      .image-gallery-play-button {
        bottom: 0;
        padding: 10px;
        color: $ig-maroon;
        
        &:hover{
          color: $ig-teal;
        }
      
        .image-gallery-svg {
          height: 20px;
          width: 20px;
        }
      
        @media (max-width: $ig-small-screen) {
          padding: 8px;
      
          .image-gallery-svg {
            height: 10px;
            width: 10px;
          }
        }
      
        @media (max-width: $ig-xsmall-screen) {
          padding: 5px;
      
          .image-gallery-svg {
            height: 6px;
            width: 6px;
          }
        }
      }

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 50px 0px;
  top: 50%;
  transform: translateY(-50%,0);
 
  

  .image-gallery-svg {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $ig-maroon ;
    color: $ig-floralwhite;
    
    &:hover{
      color: $ig-floralwhite;
      background-color: $ig-teal;
    }
  }

  @media (max-width: $ig-small-screen) {
    .image-gallery-svg {
      height: 50px;
      width: 30px;
    }
  }

  @media (max-width: $ig-xsmall-screen) {
    .image-gallery-svg {
      height: 40px;
      width: 20px;
    }
  }

  &[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none;
  }
}

.image-gallery-thumbnail {
  display: inline-flex;
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 80px;

  background: transparent;
  padding: 0;

  @media (max-width: $ig-small-screen) {
    border: 3px solid transparent;
    width: 60px;
   
  }

  + .image-gallery-thumbnail {
    margin-left: 7px;
  }

  .image-gallery-thumbnail-inner {
    display: block;
    position: relative;
  }

  .image-gallery-thumbnail-image {
    vertical-align: middle;
    width: 100%;
    line-height: 0;
  }

  &.active,
  &:focus {
    outline: none;
    border: 4px solid $ig-maroon;

    @media (max-width: $ig-small-screen) {
      border: 3px solid $ig-maroon;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: none;
      border: 4px solid $ig-teal;

      @media (max-width: $ig-small-screen) {
        border: 3px solid $ig-teal;
      }
    }
  }

}
    }

    .box {
     text-align: center;

  h2 {
    font-size: 24px;
    color: mediumvioletred;
    color: light;
  }
  h4{
    font-size: 20px;
  } 
  h5{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  span {
    font-size: 16px;
    color:brown;
  }
  h6{
    color: darkblue;
  }
  


 .number{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .full{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    border: 1.5px solid maroon;
    outline: none;
    border-radius: 10px;

    button{
      display: flex;
      justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
     outline: none;
     color: maroon;
     background-color: #ffffff;
     cursor: pointer;
    }

    .count{
      font-size: 20px;
      color: mediumvioletred;
    }
  }

  .buy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
      padding: 8px 20px;
      background: linear-gradient(to right, (floralwhite) , ( lightpink) , (floralwhite) );
      background-size: 200% 100%;
      color:mediumvioletred;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-position 0.3s;
      font-family: 'Salsa', cursive;
      
      &:hover {
        background-position: -100% 0;
        color:mediumvioletred;
      }

     
      
  }
 }
   
 .add{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  Button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  padding: 8px 20px;
  background: linear-gradient(to right, (floralwhite) , ( #bffffb) , (floralwhite)  );
  background-size: 200% 100%;
  color: darkblue;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-position 0.3s;
  font-family: 'Salsa', cursive;
  
  &:hover {
    background-position: -100% 0;
    color: darkblue;
  }
 }
}

.accordion {
  border-top: 1px solid #000000;
  border-bottom:1px solid #000000 ;
  width: 400px;
  height: max-content;
  margin: auto;
  
  &.open .accordion-header .arrow-icon {
    transform: rotate(180deg);
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    color: purple;

    .arrow-icon {
      transition: transform 0.5s ease;
    }
  }

  .accordion-content {
    padding: 10px 10px;
    text-align: justify;
    font-size: 12px;
    line-height: 16px;

  }
}

.accordion1 {
  border-top: 1px solid #000000;
  border-bottom:1px solid #000000 ;
  width: 400px;
  height: max-content;
  margin: auto;
 
  
  &.open .accordion-header1 .arrow-icon1 {
    transform: rotate(180deg);
  }

  .accordion-header1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    color: purple;

    .arrow-icon1 {
      transition: transform 0.5s ease;
    }
  }

  .accordion-content1 {
    text-align: justify;
    font-size: 11px;
    padding: 10px 10px;
    line-height: 16px;

  }
}

.accordion2 {
  border-top: 1px solid #000000;
  border-bottom:1px solid #000000 ;
  width: 400px;
  height: max-content;
  margin: auto;
 
  
  &.open .accordion-header2 .arrow-icon2 {
    transform: rotate(180deg);
  }

  .accordion-header2 {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    color: purple;

    .arrow-icon2 {
      transition: transform 0.5s ease;
    }
  }

  .accordion-content2 {
    text-align: justify;
    font-size: 11px;
    padding: 10px 10px;
    line-height: 16px;

  }
}

.social-media{
  display: flex;
  gap: 20px;
    justify-content: center;
    align-items: center;

    h3{
      color: brown;
    }

  .icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    #ic{
      transition: transform 0.5s ease;
      font-size: 20px;
      &:hover{
        transform: scale(1.2);
        color: #fa2bbc;
      }
    }

    #ic2{
      transition: transform 0.5s ease;
      font-size: 20px;
      &:hover{
        transform: scale(1.2);
        color: #008d0a;
      }
    }

    #ic3{
      transition: transform 0.5s ease;
      font-size: 20px;
      &:hover{
        transform: scale(1.2);
        color: #d60303;
      }
    }

    #ic4{
      transition: transform 0.5s ease;
      font-size: 20px;
      &:hover{
        transform: scale(1.2);
        color: #02aafe;
      }
    }


  }
}


    }


  }
