@import "../../MediaQuery/Mixin.scss";

.privacy{
    width: 100%;
    height: max-content;
    background:linear-gradient(150deg,floralwhite,rgb(255, 206, 212), floralwhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
   

    .policy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding: 0px 30px;

        .wavy-heading-container {
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
        
        .wavy-heading {
          background: linear-gradient(270deg, #800026, #B76E79, #800026);  
          background-size: 300% 300%; 
          background-clip: text; 
          -webkit-text-fill-color: transparent; 
          animation: wave 5s ease-in-out infinite;
          text-decoration-line: underline;
          text-decoration-style: wavy;
          text-underline-offset: 15px;
          text-decoration-thickness: 2px;
          text-decoration-color: #004D2E;
          text-align: center;
          font-family: "Croissant One", serif;
    
          h1 {
            color: #800026;
            font-family: "Croissant One", serif;
            width: 100%;
           
          }
        }
        
        // Animation keyframes
        @keyframes wave {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }

        h3{
          color: purple;
          font-family: "Josefin Sans", sans-serif;
          font-size: 18px;
      }
      p{
        font-size: 16px;
        font-family: "Josefin Sans", sans-serif;
        line-height: 25px;
        text-align: justify;
        color: black;
    }
    }

    .accordion {
      border: 1px solid #800026;
      border-radius: 20px;
      width: 700px;
      height: max-content;
      margin: auto;
      font-family: "Josefin Sans", sans-serif;

      @include mobile{
        width: 270px;
      }

      &.open .accordion-header .arrow-icon {
        transform: rotate(180deg);
      }
    
      .accordion-header {
       
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        border-radius: 20px;
        color:#800026;

     
        .arrow-icon {
          transition: transform 0.5s ease;
        }
      }
    
      .accordion-content {
        
        padding: 10px 10px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        font-family: "Josefin Sans", sans-serif;
       p{
        width: 100%;
        text-align: justify;
       }
      
      }
    }

    .accordion1 {
      border: 1px solid #800026;
      border-radius: 20px;
      width: 700px;
      height: max-content;
      margin: auto;
      font-family: "Josefin Sans", sans-serif;

      @include mobile{
        width: 270px;
      }

      &.open .accordion-header1 .arrow-icon1 {
        transform: rotate(180deg);
      }
    
      .accordion-header1 {
       
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        border-radius: 20px;
        color:#800026;

     
        .arrow-icon1 {
          transition: transform 0.5s ease;
        }
      }
    
      .accordion-content1 {
        
        padding: 10px 10px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        font-family: "Josefin Sans", sans-serif;
       p{
        width: 100%;
        text-align: justify;
       }
      
      }
    }

    .accordion2 {
      border: 1px solid #800026;
      border-radius: 20px;
      width: 700px;
      height: max-content;
      margin: auto;
      font-family: "Josefin Sans", sans-serif;

      @include mobile{
        width: 270px;
      }

      &.open .accordion-header2 .arrow-icon2 {
        transform: rotate(180deg);
      }
    
      .accordion-header2 {
       
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        border-radius: 20px;
        color:#800026;

     
        .arrow-icon2 {
          transition: transform 0.5s ease;
        }
      }
    
      .accordion-content2 {
        
        padding: 10px 10px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        font-family: "Josefin Sans", sans-serif;
       p{
        width: 100%;
        text-align: justify;
       }
      
      }
    }

    .accordion3 {
      border: 1px solid #800026;
      border-radius: 20px;
      width: 700px;
      height: max-content;
      margin: auto;
      font-family: "Josefin Sans", sans-serif;

      @include mobile{
        width: 270px;
      }

      &.open .accordion-header3 .arrow-icon3 {
        transform: rotate(180deg);
      }
    
      .accordion-header3 {
       
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        border-radius: 20px;
        color:#800026;

     
        .arrow-icon3 {
          transition: transform 0.5s ease;
        }
      }
    
      .accordion-content3 {
        
        padding: 10px 10px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        font-family: "Josefin Sans", sans-serif;
       p{
        width: 100%;
        text-align: justify;
       }
      
      }
    }

    .accordion4 {
      border: 1px solid #800026;
      border-radius: 20px;
      width: 700px;
      height: max-content;
      margin: auto;
      font-family: "Josefin Sans", sans-serif;

      @include mobile{
        width: 270px;
      }

      &.open .accordion-header4 .arrow-icon4 {
        transform: rotate(180deg);
      }
    
      .accordion-header4 {
       
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        border-radius: 20px;
        color:#800026;

     
        .arrow-icon4 {
          transition: transform 0.5s ease;
        }
      }
    
      .accordion-content4 {
        
        padding: 10px 10px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        font-family: "Josefin Sans", sans-serif;
       p{
        width: 100%;
        text-align: justify;
       }
      
      }
    }
    .accordion5 {
      border: 1px solid #800026;
      border-radius: 20px;
      width: 700px;
      height: max-content;
      margin: auto;
      font-family: "Josefin Sans", sans-serif;

      @include mobile{
        width: 270px;
      }

      &.open .accordion-header5 .arrow-icon5 {
        transform: rotate(180deg);
      }
    
      .accordion-header5 {
       
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        border-radius: 20px;
        color:#800026;

     
        .arrow-icon5 {
          transition: transform 0.5s ease;
        }
      }
    
      .accordion-content5 {
        
        padding: 10px 10px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
        font-family: "Josefin Sans", sans-serif;
       p{
        width: 100%;
        text-align: justify;
       }
      
      }
    }
}