@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
.cart-main{
    font-family: "Mooli", system-ui;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    h2{
        color: rgb(125, 13, 13);
    }
    .cart-item{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        transition: all 0.4s;
        padding: 5px 0px 5px 0px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.212);

        &:hover{
            background-color: rgba(0, 0, 0, 0.046);
        }

    img{
        height: 70px;
        width: 70px;
    }

    .cart-details{
        display: flex;
        flex-direction: column;
       
            h3{
            font-size: 15px;
            color: darkmagenta;
            }
            .full{
                display: flex;
                align-items: center;
                gap: 20px;
                background-color: #ffffff;
                border: 1.5px solid maroon;
                outline: none;
                border-radius: 10px;
            
                button{
                  display: flex;
                  justify-content: center;
                align-items: center;
                padding: 10px;
                border: none;
                 outline: none;
                 color: maroon;
                 background-color: #ffffff;
                 cursor: pointer;
                }
            
                .count{
                  font-size: 20px;
                  color: mediumvioletred;
                }
              }
        .close{
            position: absolute;
            top: 1px;
            right: 10px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.409);
            transition: all 0.2s;
            cursor: pointer;

            &:hover{
                color: black;
                transform:scale(1.1) ;
            }
        }

    }
}

.cart-total{

    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.594);

    .value{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 19px;
        font-weight: 900;
    }

    button{
        padding: 8px 12px;
        height: fit-content;
        width: fit-content;
        font-size: 16px;
        color: floralwhite;
        background-color: maroon;
        font-family: "Mooli", system-ui;
        border: 1px solid maroon;
        transition: all 0.4s;
        cursor: pointer;


        &:hover{
            background-color: floralwhite;
           border: 1px solid maroon ;
           color: maroon;
        }
    }
}


}