
 @import "../MediaQuery/Mixin.scss";

.header-main{
    
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #800026;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    
    a{
        text-decoration: none;
        color: #800026;
      }
  
      li{
        color: #800026;
        cursor: pointer;
        list-style: none;
      }
      .left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        

        ul {
          display: flex;
        justify-content: center;
        align-items: center;
          list-style: none;
          margin: 0;
          padding: 0;
          cursor: pointer;
          font-family: "Croissant One", serif;
    
          li {
            position: relative; /* Needed for positioning the ::before pseudo-element */
            margin: 0 1rem;
           
           
        
        &::before {
            content: ''; /* Empty content for the pseudo-element */
            position: absolute;
            bottom: 0; /* Position the underline at the bottom of the list item */
            left: 0; /* Start the underline from the left */
            width: 100%; /* Full width of the list item */
            height: 2px; /* Thickness of the underline */
            background-color: #800026; /* Color of the underline */
            transform: scaleX(0); /* Initially hide the underline by scaling it to 0 */
            transform-origin: right; /* Scale from the right side */
            transition: transform 0.5s ease; /* Animate the scaling */
        }
        
        &:hover::before {
            transform: scaleX(1); /* Scale to full width on hover */
            transform-origin: left; /* Scale from the left side */
        }
      }
        }
  

        .shop-all{
          position: relative;
         

          &:hover .shop{
           
            transform: translate(0);
            opacity: 1; 
            
           
          }

          .shop{
            width: 1070px;
            overflow: auto;
            position:absolute ;
            z-index: 9999;
            transform: translateY(-420px);
            top: 47px;
            display: flex;
            gap: 20px;
            padding: 10px;
            background:linear-gradient(150deg,floralwhite,rgb(255, 206, 212), floralwhite);
            opacity: 0.3; 
            transition: all 0.5s ease-in-out;
            
           
            
          }

          
        }
        
        @include m1100{
          display: none;
        }

      
      
  }

  .center {
      display: flex;
      justify-content:flex-end;
      align-items: center;
      flex: 1;
     
      
      img {
        width: 300px;
        height: auto;
        display: block;
        cursor: pointer;
      }
    }
  

     .right{
      flex: 1;
      display: flex;
      align-items: center;  
      justify-content: flex-end;
      
       
        .menubar{
          display: none;

          @include m528{
            display: block;
          }
        }

 
      .content{
        position: absolute;
        top: 40px;
        list-style: none;
        z-index: 999;
        background-color: rgb(124, 111, 111);
        color: rgb(61, 11, 11);

        li{
            padding: 12px;

            &:nth-child(4){
                background-color: brown;
            }
        }
      }
      
     
      svg {
        margin: 0 1rem;
        font-size: 25px;
        color: #800026;
        transition: transform 0.4s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
  
        &:hover {
          transform: scale(1.1);
        }
      }
      .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(255, 221, 226);
        width: max-content;
        padding:  3px ;
        font-size: 15px;
        top: 50px;
        right: -70px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      Button {
        color: black;
        padding: 10px 3px;
        text-decoration: none;
        text-align: center;
        display: block;
        width: 150px;
        background-color: rgb(255, 221, 226);
      
        &:hover{
          color: #800026;
          background-color: bisque;
        }
      }
      
      
      
      /* Show the dropdown when clicked */
      .show {
        display: block;
      }
      
      .wish-icon {
        position: relative;
        cursor: pointer;
    
    
        p {
            position: absolute;
            transition: all 0.5s ease-in;
            top: -25px;
            right: 0px;
            background-color: #800026;
          color: white;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%; // Changed to 50% for clarity

           
        }
    }

    .cart-icon {
      position: relative;
      cursor: pointer;
  
     
  
     
  
      p {
          position: absolute;
         
          top: -25px;
          right: 0px;
          background-color: #800026;
          color: white;
          height: 20px;
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%; // Changed to 50% for clarity
      }
  }
    
}

}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  background:linear-gradient(150deg,floralwhite,rgb(255, 206, 212), floralwhite);
  
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 28px 10px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #800026;
  box-shadow: 0 2px 10px rgba(134, 5, 1, 0.347);
  overflow: hidden;
 
  
  @media (max-width: 600px) {
      width: 100%;
  }



  .search-input {
      width: 100%;
      padding: 11px;
      border:none;
      outline: none;
      border-radius: 25px;
      transition: width 0.3s ease-in-out;
      font-family: "Josefin Sans", sans-serif;

      ::placeholder{
        color: #800026;
        
      }

      @media (max-width: 600px) {
          width: calc(100% - 40px);
      }
  }

  .search-button {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
      img{
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
  }
}
}

.list{
  background-color: rgb(255, 232, 235);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px 0px;
  font-family: "Josefin Sans", sans-serif;

  li{
    color: rgb(160, 67, 0);
    font-size: 20px;
    transition: transform 0.5s ease;
  &:hover{
    color: #800026;
    transform: scale(1.2);
  }
}
}