@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

.category-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  margin: 20px 0;


.title1{
  width: 100%;
  
  .wavy-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .wavy-heading {
    background: linear-gradient(270deg, #800026, #B76E79, #800026);  
    background-size: 300% 300%; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: wave 5s ease-in-out infinite;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-decoration-color: #004D2E;
    text-align: center;
    font-family: "Croissant One", serif;
  }
  
  // Animation keyframes
  @keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 
  
  }
  .category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    font-family: "Croissant One", serif;
    color: floralwhite;

    &:hover {
      box-shadow: 0 10px 16px pink, 0 10px 16px  plum;
    }

    .image-wrapper {
      position: relative;
      overflow: hidden;
      width: 270px;
      height: 270px;
      border: 3px solid lightpink;
      border-radius: 20px 20px 0px 0px;
      transition: transform 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .image {
          transform: scale(1.05);
        }

        
        
      }

      .image {
        width: 98%;
        height: 98%;
        object-fit:cover;
        transition: transform 0.5s ease;
        border-radius: 20px 20px 0px 0px;

      }

      
    }

    .category-info {
      width: 270px;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #800026;
      color: floralwhite;
      border-radius: 0px 0px 20px 20px;
      border: 3px solid #800026;

     
      h2 {
        font-size: 20px;
        text-align: center;
        display: flex;
        gap: 3px;
        justify-content: center;
        align-items: center;
      }

     
        
      }
  }
}