@import '../MediaQuery/Mixin.scss';
@import  'react-awesome-slider/src/core/styles.scss';
$slider-height-percentage: 40%;
$control-bullet-color: #800026;
$control-bullet-active-color: #800026;
$content-background-color: white;
$organic-arrow-color: #800026;
$organic-arrow-height: 40px;


.slider-main {
    height :85vh;
    transition: all 1s ease-in-out;
    position :relative;
    padding: 10px;
    
    
    @include mobile_S{
      height : 44vh;
    }
    @include mobile_M{
      height : 58vh;
    }
    @include mobile_L{
      height : 60vh;
    }
    @include tablet{
      height : 80vh;
    }
    @include tablet_L{
      height : 82vh;
    }
    @include laptop{
      height : 85vh;
    }


.#{$root-element} {
   
    --slider-height-percentage: #{$slider-height-percentage};
    
  }
  .#{$root-element} {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
  
    &__wrapper {
      display: block;
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 100%;
    }
    &__container {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: var(--slider-height-percentage);
  
      @media all and (max-width: 500px) {
        padding-bottom: calc(var(--slider-height-percentage) * 1.25);
      }
  
      figure {
        @extend %fill-parent;
      }
    }
    
    &__bullets {
        position: absolute;
        bottom: -40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          @extend %clear-focus;
          padding: 0;
          display: block;
          width: 10px;
          height: 10px;
          margin: 5px;
          border-radius: 50%;
          background: var(--control-bullet-color);
          text-indent: -9999px;
          overflow: hidden;
          cursor: pointer;
          border: none;
          transition: transform 0.225s cubic-bezier(0.8, 1.35, 0.75, 1.45),
            background-color 0.175s ease-out;
    
          &:hover {
            transform: scale(1.2);
          }
        }
        .#{$root-element}__bullets--loading {
          transform: scale(1.2);
        }
        .#{$root-element}__bullets--active {
          transform: scale(1.5);
          background: var(--control-bullet-active-color);
    
          &:hover {
            transform: scale(1.5);
          }
        }
    }
   
      &__content {
        @extend %fill-parent;
        background-color: var(--content-background-color);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        > img,
        > video {
          object-fit: fill;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
       
      }

     
      &__controls__arrow-left,
      &__controls__arrow-right {
        width: 100%;
        height: var(--organic-arrow-height);
        position: relative;
        display: block;
        transition: transform 0.2s ease-out 0.125s, opacity 0.2s ease-out;
        &:before,
        &:after {
          content: ' ';
          position: absolute;
          right: calc(
            20% -
              (
                #{$cos45} * (var(--organic-arrow-height) +
                      var(--organic-arrow-thickness))
              ) / 2
          );
          height: 100%;

          width: var(--organic-arrow-thickness);
          background-color: var(--organic-arrow-color);
          transition: transform 0.15s ease-out, background-color 0.15s ease-out;
        }
        &:before {
          transform-origin: 100% 100% 0;
          // background-color: rgba(76, 177, 6, 0.75);
          top: -50%;
          transform: rotate(-45deg);
        }
        &:after {
          transform-origin: 100% 0% 0;
          // background-color: rgba(255, 247, 43, 0.75);
          top: 50%;
          transform: rotate(45deg);
        }
      }
      &__controls__arrow-right {
      
        &--active {
          transform: translate3d(100%, 0, 0);
          &:after {
            transform: rotate(90deg) translate3d(50%, 0, 0) !important;
          }
          &:before {
            transform: rotate(-90deg) translate3d(50%, 0, 0) !important;
          }
        }
      }
      &__controls__arrow-left {
        &:before,
        &:after {
          right: auto;
          left: calc(
        20% -
              (
                #{$cos45} * (var(--organic-arrow-height) +
                      var(--organic-arrow-thickness))
              ) / 2
          );
        }
        &:before {
          transform-origin: 0 100% 0;
          top: -50%;
          transform: rotate(45deg);
        }
        &:after {
          transform-origin: 0 0 0;
          top: 50%;
          transform: rotate(-45deg);
        }
        &--active {
          transform: translate3d(-100%, 0, 0);
          &:after {
            transform: rotate(-90deg) translate3d(-50%, 0, 0) !important;
          }
          &:before {
            transform: rotate(90deg) translate3d(-50%, 0, 0) !important;
          }
        }
      }

     
  } 
  
  
  
 
 

}