@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
.countup-main{
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
flex-flow: wrap;
width: 100%;
height: 100%;
border-bottom: 1px solid gold;
background-image: url("../../Assets/Slider/countup.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
font-size: 18px;
font-weight: bold;
font-family: 'Salsa', cursive;



.vegan{
    display: flex;
    justify-content: center;
    align-items: center;
   color: rgb(0, 81, 32);
   flex-direction: column;
   padding-top: 10px;

    .counting{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    }
}

.awards{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003694;
    flex-direction: column;
    padding-top: 10px;

    .counting1{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    }
}
.people{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a85100;
    flex-direction: column;
    padding-top: 10px;

    .counting2{
        display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   gap: 5px;
        
    }
}

}