

.countup-main{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
padding: 10px;
height: max-content;
background:linear-gradient(150deg,floralwhite,rgb(255, 206, 212), floralwhite);
font-size: 18px;
font-weight: bold;
font-family: "Josefin Sans", sans-serif;


.vegan{
    display: flex;
    justify-content: center;
    align-items: center;
   color: rgb(0, 81, 32);
   flex-direction: column;
   padding-top: 10px;

    .counting{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    }
}

.awards{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003694;
    flex-direction: column;
    padding-top: 10px;

    .counting1{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    }
}
.people{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a85100;
    flex-direction: column;
    padding-top: 10px;

    .counting2{
        display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   gap: 5px;
        
    }
}

}