@import "../Component/MediaQuery/Mixin.scss";
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    height: 40px;
  
    .left {
        justify-content: flex-start;
        flex: 1;
  
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
  
        li {
          margin: 0 1rem;
  
          a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
            transition: color 0.3s;
  
            &:hover {
              color: #007bff;
            }
          }
        }
      }

      .shop-all{
        position: relative;
       

        &:hover .shop{
         
          transform: translate(0);
          opacity: 1; 
          
         
        }

        .shop{
          width: 1070px;
          overflow: auto;
          position:absolute ;
          z-index: 9999;
          transform: translateY(-420px);
          top: 47px;
          display: flex;
          gap: 20px;
          padding: 10px;
          background:linear-gradient(150deg,floralwhite,rgb(255, 206, 212), floralwhite);
          opacity: 0.3; 
          transition: all 0.5s ease-in-out;
          
         
          
        }

        
      }
      
      @include m1100{
        display: none;
      }
    }
  
    .center {
      display: flex;
      justify-content:center;
      align-items: center;
      flex: 2;
     
      img {
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  
    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
      
      .menubar{
        display: none;
      }
      svg {
        margin: 0 1rem;
        font-size: 25px;
        color: #333;
        transition: color 0.3s;
  
        &:hover {
          color: #007bff;
        }
      }
    }
  }
  