
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

h1{
    text-align: center;
    color: maroon;
    font-family: "Philosopher", sans-serif;
}
.wishlist-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    width: 500px;
    height: max-content;
    border: 1px solid maroon;
    font-family: "Mooli", system-ui;
    border-radius: 20px;
    text-align: center;
  
    &__image {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 20px;
      
      padding: 10px;
    }
  
    &__details {
        padding: 10px;
    
    }
  
    &__name {
      font-size: 18px;
     
      color: darkmagenta;
    }
  
    &__price {
      font-size: 16px;
      color: #555;
    }
    Button{
        background-color: floralwhite;
        font-family: "Mooli", system-ui;
        color: maroon;

        &:hover{
            background-color: maroon;
            color: floralwhite;
            
        }
    }
  }

  
  